<div class="top-container">
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h1 class="title">Coming Soon</h1>
    </div>
    <p class="subtitle">This feature is currently under maintenance. Check back later.</p>
</div>