<link rel="stylesheet" href="~/css/laelynn/laelynn.css">

<body>
    <nav id="topnav">
        <div id="leftoftopnav">
            <a href="/"><img id="topcplogoimg" src="~/images/indeximgs/cplogo.png" alt="logo"></a>
        </div>
        <div id="rightoftopnav">
            <a class="topnava" href="/">CODE PINK</a>
            <a class="topnava" href="/">STUDENT LOGIN</a>
            <a class="topnava" href="/">SHOP</a>
            <a class="topnava" href="/">PRODUCT REVIEWS</a>
            <a class="topnava" href="/"><img id="cartimg" src="~/images/laelynnimages/whitecart.png" alt="cart"></a>
        </div>
    </nav>
</body>